.register_heading{
    color: orangered;
    margin:  auto 45%;
    align-items: center;
    justify-content: center;
}

.register_para{
    margin:  auto 43%;
    width: 100%;
}

.register_text{
    font-size: 20px;
}

.register_input{
    height: 25px;
}

.register_input::placeholder{
    font-size: 16px;
    padding: 2%;
}